.LoginForm {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 5%;
    width: 80%;
}

.LoginFormContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.LoginFormInputLabel {
    display: block;
    width: 100%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    color: #666666;
    margin-bottom: 1.2%;
}

.LoginFormInput {
    width: 100%;
    border: 1px solid #d3d5db;
    box-sizing: border-box;
    border-radius: 6px;
    margin-bottom: 1.91%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: #696F79;
    padding: 1.5%;
}

.LoginFormButton {
    background: #2C73EB;
    border-radius: 6px;
    width: 100%;
    color: white;
    border: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    line-height: 19px;
    margin-bottom: 1.91%;
    padding: 1.5%;
    margin-top: 5%;
}


.PasswordContainer {
    display: flex;
    width: -webkit-fill-available;
}

#password {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-bottom: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.buttonContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 6px;
    border: 1px solid #d3d5db;
    border-left: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.imgIcon {
    width: 90%;
    height: 80%;
}

.LoginFormError {
    width: 100%;
    border: 1px solid #8692A6;
    box-sizing: border-box;
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: red;
    margin-bottom: 2%;
}