.Login {
  display: flex;
  height: 86vh;
  color: white;
}

.LoginHeroContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LoginFormContainer {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
