.App {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../public/background.jpg);
    background-position: center;
}

footer {
    background-color: #3463ff;
    opacity: 0.8;
}

